/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

\.vscode/ftp-kr\.diff\.5\.855f92484c8c414d36c1b25cb24876e30229cbbf

\.vscode/ftp-kr\.diff\.4\.855f92484c8c414d36c1b25cb24876e30229cbbf

\.vscode/ftp-kr\.sync\.cache\.json

/public/js/admin.js
